nav
  .logo
    img(src='/images/logo.png')
    h1  PreBook
    span
      i Cheap, Reliable, Instant
  ul
    li.special
      a(href='/buy') Buy a Ticket
    li
      a(href='/comment') Movie Review
    li
      a(href='/history') Purchase History
    li
      a(href='/logout') Logout
